<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<title> {% block title %} Akwaba !!! Bienvenue au march&eacute; {% endblock %} | AgriWeb </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'aCommerce/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/fonts/fontawesome-free-5.15.1-web/css/all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/fonts/elegant-font/html-css/style.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/slick/slick.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	{% block stylesheet %}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/vendor/lightbox2/css/lightbox.min.css' %}">
	<!--===============================================================================================-->
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'aCommerce/css/main.css' %}">
	<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- header fixed -->
	<div class="wrap_header fixed-header2 trans-0-4">
		<!-- Logo -->
		<a href="/" class="logo">
			<img src="{% static 'aCommerce/images/icons/logo-agriweb.png' %}" alt="IMG-LOGO">
		</a>

		<!-- Menu -->
		<div class="wrap_menu">
			<nav class="menu">
				<ul class="main_menu">
					<li class="sale-noti">
						<a href="/">Accueil</a>
					</li>

					<li>
						<a href="/learning/" target="_blank">Apprendre</a>
					</li>

					<li>
						<a href="/articles">Astuces</a>
					</li>

					<li>
						<a href="/produits">Boutique</a>
					</li>

					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>

		<!-- Header Icon -->
		<div class="header-icons">
			<a href="#" class="header-wrapicon1 dis-block">
				<img src="{% static 'aCommerce/images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
			</a>

			<span class="linedivide1"></span>

			<div class="header-wrapicon2">
				<img src="{% static 'aCommerce/images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
				<span class="header-icons-noti">0</span>

				<!-- Header cart noti -->
				<div class="header-cart header-dropdown">
					<ul class="header-cart-wrapitem">
						<li class="header-cart-item">
							<div class="header-cart-item-img">
								<img src="{% static 'aCommerce/images/item-cart-01.jpg' %}" alt="IMG">
							</div>

							<div class="header-cart-item-txt">
								<a href="#" class="header-cart-item-name">
									White Shirt With Pleat Detail Back
								</a>

								<span class="header-cart-item-info">
									1 x $19.00
								</span>
							</div>
						</li>

						<li class="header-cart-item">
							<div class="header-cart-item-img">
								<img src="{% static 'aCommerce/images/item-cart-02.jpg' %}" alt="IMG">
							</div>

							<div class="header-cart-item-txt">
								<a href="#" class="header-cart-item-name">
									Converse All Star Hi Black Canvas
								</a>

								<span class="header-cart-item-info">
									1 x $39.00
								</span>
							</div>
						</li>

						<li class="header-cart-item">
							<div class="header-cart-item-img">
								<img src="{% static 'aCommerce/images/item-cart-03.jpg' %}" alt="IMG">
							</div>

							<div class="header-cart-item-txt">
								<a href="#" class="header-cart-item-name">
									Nixon Porter Leather Watch In Tan
								</a>

								<span class="header-cart-item-info">
									1 x $17.00
								</span>
							</div>
						</li>
					</ul>

					<div class="header-cart-total">
						Total: $75.00
					</div>

					<div class="header-cart-buttons">
						<div class="header-cart-wrapbtn">
							<!-- Button -->
							<a href="/panier/consulter" class="flex-c-m size1 bg1 bo-rad-20 hov0 s-text1 trans-0-4">
								Mon panier
							</a>
						</div>

						<div class="header-cart-wrapbtn">
							<!-- Button -->
							<a href="/panier/valider" class="flex-c-m size1 bg1 bo-rad-20 hov0 s-text1 trans-0-4">
								Payer
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- top noti -->
	<div class="flex-c-m size22 bg0 s-text21 pos-relative">
		20% off everything!
		<a href="product.html" class="s-text22 hov6 p-l-5">
			Shop Now
		</a>

		<button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
			<i class="fa fa-remove fs-13" aria-hidden="true"></i>
		</button>
	</div>

	<!-- Header -->
	<header class="header2">
		<!-- Header desktop -->
		<div class="container-menu-header-v2 p-t-26">
			<div class="topbar2">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fab fa-facebook"></a>
					<a href="#" class="topbar-social-item fab fa-instagram"></a>
					<a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fab fa-linkedin"></a>
					<a href="#" class="topbar-social-item fab fa-github"></a>
					<a href="#" class="topbar-social-item fab fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fab fa-youtube"></a>
				</div>

				<!-- Logo2 -->
				<a href="/" class="logo2">
					<img src="{% static 'aCommerce/images/icons/logo-agriweb.png' %}" alt="IMG-LOGO">
				</a>

				<div class="topbar-child2">
					<span class="topbar-email">
						fashe@example.com
					</span>

					<div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>F. CFA</option>
							<option>USD</option>
							<option>EURO</option>
						</select>
					</div>

					<!--  -->
					<a href="#" class="header-wrapicon1 dis-block m-l-30">
						<img src="{% static 'aCommerce/images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2 m-r-13">
						<img src="{% static 'aCommerce/images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'aCommerce/images/item-cart-01.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'aCommerce/images/item-cart-02.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'aCommerce/images/item-cart-03.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/panier/consulter" class="flex-c-m size1 bg1 bo-rad-20 hov0 s-text1 trans-0-4">
										Mon panier
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/panier/valider" class="flex-c-m size1 bg1 bo-rad-20 hov0 s-text1 trans-0-4">
										Payer
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_header">

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li class="sale-noti">
								<a href="/">Accueil</a>
							</li>

							<li>
								<a href="/learning/" target="_blank">Apprendre</a>
							</li>

							<li>
								<a href="/articles">Astuces</a>
							</li>

							<li>
								<a href="/produits">Boutique</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">

				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="{% static 'aCommerce/images/icons/logo-agriweb.png' %}" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="{% static 'aCommerce/images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="{% static 'aCommerce/images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'aCommerce/images/item-cart-01.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'aCommerce/images/item-cart-02.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'aCommerce/images/item-cart-03.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/panier/consulter" class="flex-c-m size1 bg1 bo-rad-20 hov0 s-text1 trans-0-4">
										Mon panier
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/panier/valider" class="flex-c-m size1 bg1 bo-rad-20 hov0 s-text1 trans-0-4">
										Payer
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>F. CFA</option>
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fab fa-facebook"></a>
							<a href="#" class="topbar-social-item fab fa-instagram"></a>
							<a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fab fa-linkedin"></a>
							<a href="#" class="topbar-social-item fab fa-github"></a>
							<a href="#" class="topbar-social-item fab fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fab fa-youtube-play"></a>
						</div>
					</li>

					<!--
						<li class="item-menu-mobile">
							<a href="index.html">Home</a>
							<ul class="sub-menu">
								<li><a href="index.html">Homepage V1</a></li>
								<li><a href="home-02.html">Homepage V2</a></li>
								<li><a href="home-03.html">Homepage V3</a></li>
							</ul>
							<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						</li>

						<li class="item-menu-mobile">
							<a href="product.html">Shop</a>
						</li>

						<li class="item-menu-mobile">
							<a href="product.html">Sale</a>
						</li>

						<li class="item-menu-mobile">
							<a href="cart.html">Features</a>
						</li>

						<li class="item-menu-mobile">
							<a href="blog.html">Blog</a>
						</li>

						<li class="item-menu-mobile">
							<a href="about.html">About</a>
						</li>

						<li class="item-menu-mobile">
							<a href="contact.html">Contact</a>
						</li>
						-->

					<li class="item-menu-mobile">
						<a href="/">Accueil</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/learning/" target="_blank">Apprendre</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/blog">Astuces</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/produits">Boutique</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
	<footer class="bg4 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3 text-center">


				<div class="footer-logo">
					<img src="{% static 'aCommerce/images/icons/logo-agriweb.png' %}"  />
					<p class="s-text7 w-size27">
						Des produits plus de vous
					</p>
				</div>

				<hr>

				<div>
					<p class="s-text7 w-size27">
						Do you have some questions? Let us meet our <a href="" class="color1">team</a>
						<br>in store at 8th floor, 379 Hudson St, New York, NY 10018
						<br>or call us on <a href="tel://0022540312947" class="color1">(+225) 40 31 29 47</a> et
						<a href="tel://0022544725894" class="color1">(+225) 44 72 58 94</a>

					</p>

						<a href="#" class="fs-18 color1 p-r-20 fab fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fab fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fab fa-linkedin"></a>
						<a href="#" class="fs-18 color1 p-r-20 fab fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fab fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fab fa-github"></a>
						<a href="#" class="fs-18 color1 p-r-20 fab fa-youtube"></a>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Men
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Women
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Dresses
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Sunglasses
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Offres
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Astuces
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Coop&eacute;ratives
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Entreprises
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Formations
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Usines
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Terms & Conditions
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Track Order
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Shipping
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							FAQs
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>

				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						<!-- Button -->
						<button class="flex-c-m size2 bg4 bo-rad-23 hov0 m-text3 trans-0-4">
							Subscribe
						</button>
					</div>

				</form>
			</div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size3" src="{% static 'aCommerce/images/payment/MoMo-Flooz.png' %}" alt="MTN et Moov">
			</a>
			<a href="#">
				<img class="h-size3" src="{% static 'aCommerce/images/payment/Orange-Money.png' %}" alt="Orange">
			</a>
			<a href="#">
				<img class="h-size3" src="{% static 'aCommerce/images/icons/paypal.png' %}" alt="Logo PayPal">
			</a>
			<a href="#">
				<img class="h-size3" src="{% static 'aCommerce/images/icons/visa.png' %}" alt="Logo VISA">
			</a>

			<div class="t-center s-text8 p-t-20">
				Copyright &copy; AgriWeb <script>document.write(new Date().getFullYear());</script> - All rights reserved | Thanks to <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="w-full wrap-pic-w op-0-0"><img src="images/icons/video-16-9.jpg" alt="IMG"></div>
				<div class="video-mo-01">
					<iframe src="https://www.youtube.com/embed/Nt8ZrWY2Cmk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'aCommerce/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'aCommerce/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'aCommerce/vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'aCommerce/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

	{% block javascripts %}
	{% endblock %}
<!--===============================================================================================-->
	<script src="{% static 'aCommerce/js/main.js' %}"></script>
</body>
</html>